img{
    display: block;
    margin: 0 auto;
    width: 600px;
    height: 400px;
}

table{
    border-collapse: collapse;
    width: 50%;
    
    margin: 20px auto;

}

th, td{
    border: 2px solid black;
    padding: 12px;
    text-align: center;
}

th{
    background-color: green;
}